*{
    padding: 0 auto;
    margin: 0 auto;

}
/*Selector id */
#Contenedor{
    width: 1200px;
    height: 1000px;
    background-color: rgb(226, 230, 229);
}

#Encabezado{
    height: 10%;
    background-color: wheat ;
    margin: 1em;

}

#menu{
    height: 5%;
    background-color: rgb(210, 234, 254);
    margin: 1em ;
}

#contenido{
    height: 75%;
    width: 61%;
    background-color: darkgrey;
    margin: 0.5em;
    float : left; 
}

#Fueraseccion{
    height: 75%;
    width: 36%;
    background-color: aliceblue;
    margin: 0.5em;
    float:right;
}

#pie{
    block-size: 5%;
    background-color: grey ;
    border-radius: 1em;
    margin: 1em;
    width: 1200px;

    
}

 /* Selector clase */
.texto{
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
    font-size: 12;
    margin-left: 15px;
    margin-right: 15px;
    padding-top: 10px;
}

.encabezado_articulo{
    text-align: center;
    background: #333;
    color: white;
    margin: auto 2em;
}

.imagenes{

    display: block;
    border: 1px solid #ddd;
    margin-left: 4%;
    border-radius: 4px;
    width: 300px;
    
}

/* selector de etiqueta */

ul{
    text-align: center;
}

li{
    display: inline;
    padding-left: 6px;
    padding-right: 6px;
    text-align: center;

}